h1 {
    color: red;
}

div.sample {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
div{

    text-align: center;
}


#main {
    margin-top: 5em;
}

body {
    font-family: sans-serif;
}
.navbar-center{
    color: white;
}

.imgPro > img {

    width: 3em;
  }