{% extends "base.html" %}
{% block main %}
<link href="../static/css/ajouter.css" rel="stylesheet">
<form class="form-horizontal" role="form" method="POST" action="{{ url_for('ajouter') }}">
   {{ form.hidden_tag() }}
   <div class="form-signin ">
        <div for="title" class="form-group">
            <label class="col-sm-2 control-label">
                {{ form.title.label }}
            </label>
            <div class="col-sm-10">
                {{ form.title(size=50, class_="form-control",placeholder="title") }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{ form.img.label }}
            </label>
            <div class="col-sm-10">
                {{ form.img(size=50, class_="form-control",placeholder="lien d'une image") }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{ form.parent.label }}
            </label>
            <div class="col-sm-10">
                {{ form.parent(size=50, class_="form-control",placeholder="parent") }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{ form.genre.label }}
            </label>
            <div class="col-sm-10">
                {{ form.genre(size=50, class_="form-control",placeholder="genre") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset -2 col-sm-10">
                <button type="submit" class="btn btn-default">Ajouter</button>
                <button class="btn btn-default" onclick="window.location.href='/home'" type="button">retour</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}