{% extends "base.html" %}
{% block main %}
<h1>Edit author: {{ author.name }}</h1>
<form role="form" method="POST" action="{{ url_for('save_author') }}">
    {{ form.hidden_tag() }}
    {{ form.name.label }}{{ form.name(size=50,class_="form-control") }}

    <input type="submit" value="Enregistrer">
</form>
{% endblock %}