{% extends "base.html" %}

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block css %}
        <link href="../static/css/home.css" rel="stylesheet">
        {% endblock %}
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <ul>
            {% for x in musics %}
            <li>{{ x }}</li>
            {% endfor %}
        </ul>
    </body>
</html>