{% extends "base.html" %}
{% block main %}
<link href="../static/css/connexion.css" rel="stylesheet">
<form class="form-horizontal" role="form" method="POST" action="{{ url_for('sinscrire') }}">
   {{ form.hidden_tag() }}
   <div class="form-signin ">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">
                {{ form.username.label }}
            </label>
            <div class="col-sm-10">
                {{ form.username(size=50, class_="form-control",placeholder="Username") }}
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">
                {{ form.password.label }}
            </label>
            <div class="col-sm-10">
                {{ form.password(size=50, class_="form-control",placeholder="Password") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset -2 col-sm-10">
                <button type="submit" class="btn btn-default">S'inscire</button>
                <button class="btn btn-default" onclick="window.location.href='/login'" type="button">Se connecter</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}

