{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='music.css') }}"/>
{% endblock %}
{% block main %}
<main id="main" role="main" class="container"></main>
<h1>{{ title }}</h1>
<div class="sample">
    {% for x in musics %}
    <div class = "boite">
        <img src="{{ url_for('static', filename='images/'+x.img) }}">
        <h2>{{x.title}}</h2>
    </div>
    {% endfor %}
</div>
{% endblock %}